/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, #controls, #status {
    text-align: center;
    margin-top: 10px;
}

#game-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

/* Container for all card stacks */
#tablecards-container {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

/* Styling for each card stack */
.card-stack {
    background-color: #4d4dad;
    flex-shrink: 0; /* Prevents card stacks from shrinking */
    width: 110px; /* Width of the card stack container */
    height: 210px; /* Height of the card stack container */
    position: relative; /* Needed for positioning card stack elements */
    display: flex;
    align-items: center; /* Centers the stack vertically within the card-stack container */
    justify-content: center; /* Centers the stack horizontally within the card-stack container */
}

/* Container for the cards in a stack */
.stack {
    position: relative;
    width: 100%; /* Full width of the card stack container */
    height: 100%; /* Full height of the card stack container */
    overflow: hidden; /* Hide any overflowing cards */
}

/* Styling for each card image */
.stackcard {
    position: absolute;
    width: 100px; /* Width of each card */
    height: 184.5px; /* Maintain the aspect ratio: height auto is calculated by aspect ratio */
    cursor: pointer;
    transition: transform 0.2s;
}


.stackcard:hover {
    transform: scale(1.1);
    z-index: 1;
}

#hand {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.handcard {
    width: 100px; /* Adjust the width to your preference */
    height: 184.5px; /* Maintain the aspect ratio: use auto */
    margin-left: -30px; /* Adjust to control overlap */
    z-index: 1;
    transition: transform 0.3s;
}

.handcard:hover {
    transform: translateY(-20px); /* Lift the card up when hovered */
    z-index: 2;
}
