<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', t=timestamp) }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
<div id="title">
    <header>
        <h1>Tarot 1v1</h1>
    </header>
</div>
<div id="controls">
    <input id="username" placeholder="Enter your username"/>
    <input id="room" placeholder="Enter room name"/>
    <button onclick="joinRoom()">Join Room</button>
</div>
<div id="status"></div>
<div id="game-container">
    <div id="game">
        <div id="opponent-hand-container">
        </div>
        <div id="opponent-tablecards-container">
        </div>
        <div id="playedcards-container">
            <div id="opponent-playcard-container"></div>
            <div id="player-playcard-container"></div>
        </div>
        <div id="tablecards-container">
        </div>
        <div id="hand-container"></div>
    </div>
    <script>
        const socket = io();

        function joinRoom() {
            const username = document.getElementById('username').value;
            const room = document.getElementById('room').value;
            socket.emit('join', {username, room});
            const controlsDiv = document.getElementById('controls');
            controlsDiv.style.display = 'none';
            const titleDiv = document.getElementById('title');
            titleDiv.style.display = 'none';
        }

        function updateHandCards(handcards, is_opponent, backcard) {
            let opprefix = "";
            if (is_opponent) {
                opprefix = "opponent-";
            }
            const handDiv = document.getElementById(`${opprefix}hand-container`);
            handDiv.innerHTML = '';

            const overlap = 70; // Define overlap amount
            const cardWidth = 90; // Define card width
            const cardsCount = handcards.length; // Number of cards

            // Calculate the total width required to display all cards with overlap
            const totalWidth = cardWidth + (cardsCount - 1) * overlap;
            const start = -totalWidth / 2 + cardWidth / 2;

            // Set container width to accommodate all cards
            handDiv.style.width = `${totalWidth}px`;

            let path;
            handcards.forEach((card, index) => {
                const cardElement = document.createElement('img');
                if (is_opponent) {
                    path = backcard;
                } else {
                    path = card['path'];
                }
                cardElement.src = `${path}`;
                cardElement.alt = card;
                cardElement.classList.add('card-hand', 'cardshape');  // Add the card class
                if (card['is_playable'] && !is_opponent) {
                    cardElement.classList.add('card-hand-playable');
                    // Add a click event listener to the card element
                    cardElement.addEventListener('click', () => {
                        handleHandCardClick(index);
                    });
                } else {
                    cardElement.classList.add('not-playable');
                }
                handDiv.appendChild(cardElement);

                const offset = start + index * overlap; // Calculate the offset for each card
                cardElement.style.setProperty('--card-offset', `${offset}px`);
            });
        }

        function updateTableCards(cards_on_table, is_opponent) {
            let opprefix = "";
            if (is_opponent) {
                opprefix = "opponent-";
            }
            const cardStacksContainer = document.getElementById(`${opprefix}tablecards-container`);
            cardStacksContainer.innerHTML = '';  // Clear previous sets

            cards_on_table.forEach((stack, index) => {
                // Create the stack container
                const cardStackDiv = document.createElement('div');
                cardStackDiv.classList.add('stackofcards');
                cardStackDiv.id = `set-${index + 1}`;

                // Create the hand container
                const stackDiv = document.createElement('div');
                stackDiv.classList.add('stack');
                stackDiv.id = `stack-${index + 1}`;
                cardStackDiv.appendChild(stackDiv);

                {#const cardCount = stack.cards.length;#}
                const overlapOffset = 2;  // Adjust this value for how much each card should overlap

                // Add cards to the stack container
                stack.cards.forEach((card, i) => {
                    const cardElement = document.createElement('img');
                    cardElement.src = `${card['path']}`;
                    cardElement.alt = card; // Assuming the card object has a 'name' property
                    cardElement.classList.add('card-stack', 'cardshape');
                    if (card['is_playable'] && !is_opponent) {
                        cardElement.classList.add('card-stack-playable');
                        // Add a click event listener to the card element
                        cardElement.addEventListener('click', () => {
                            handleTableCardClick(index);
                        });
                    } else {
                        cardElement.classList.add('not-playable');
                    }
                    stackDiv.appendChild(cardElement);

                    const offset = i * overlapOffset; // Calculate the offset for each card
                    cardElement.style.setProperty('--card-offset', `${offset}px`);
                    // Calculate the position for this card
                });

                // Append the card set to the container
                cardStacksContainer.appendChild(cardStackDiv);
            });
        }

        function restoreCardPlaceholders(placeholder_path) {
            const opponentCardElement = document.createElement('img');
            opponentCardElement.src = `${placeholder_path}`;
            opponentCardElement.alt = "OPPONENT PLAYED CARD";
            opponentCardElement.classList.add('cardshape');  // Add the card class
            const oppPlaycardDiv = document.getElementById('opponent-playcard-container');
            oppPlaycardDiv.innerHTML = ""
            oppPlaycardDiv.appendChild(opponentCardElement);

            const playerCardElement = document.createElement('img');
            playerCardElement.src = `${placeholder_path}`;
            playerCardElement.alt = "OPPONENT PLAYED CARD";
            playerCardElement.classList.add('cardshape');  // Add the card class
            const playerPlaycardDiv = document.getElementById('player-playcard-container');
            playerPlaycardDiv.innerHTML = ""
            playerPlaycardDiv.appendChild(playerCardElement);
        }

        function updatePlaycard(card, current) {
            const cardElement = document.createElement('img');
            cardElement.src = `${card.path}`;
            cardElement.alt = "PLAYED CARD";
            cardElement.classList.add('cardshape', 'not-playable');  // Add the card class
            let elementIDprefix = "";
            if (current) {
                elementIDprefix = "player";
            } else {
                elementIDprefix = "opponent";
            }
            const playcardDiv = document.getElementById(`${elementIDprefix}-playcard-container`);
            playcardDiv.innerHTML = ""
            playcardDiv.appendChild(cardElement);

        }

        function playerUpdate(player) {
            updateHandCards(player.hand.cards, false, player.backcard);
            updateTableCards(player.cards_on_table, false);
        }


        function opponentSetup(opponent) {
            updateHandCards(opponent.hand.cards, true, opponent.backcard);
            updateTableCards(opponent.cards_on_table, true);
        }


        function handleTableCardClick(stack_index) {
            // Emit a socket event with the card details
            const username = document.getElementById('username').value;
            const room = document.getElementById('room').value;
            socket.emit('table-card-click', {room, username, stack_index});
        }

        function handleHandCardClick(handcard_index) {
            // Emit a socket event with the card details
            const username = document.getElementById('username').value;
            const room = document.getElementById('room').value;
            socket.emit('hand-card-click', {room, username, handcard_index});
        }

        socket.on('status', (data) => {
            document.getElementById('status').innerHTML = data.msg;
        });

        socket.on('restore-playcard-placeholders', (data) => {
            restoreCardPlaceholders(data.placeholder_path);
        });

        socket.on('player-update', (data) => {
            playerUpdate(data.player);
        });

        socket.on('opponent-setup', (data) => {
            opponentSetup(data.opponent);
        });

        socket.on('playcard-update', (data) => {
            updatePlaycard(data.card, data.current);
        });

    </script>
</body>
</html>
