<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', t=timestamp) }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
<header>
    <h1>Tarot 1v1</h1>
</header>
<div id="controls">
    <input id="username" placeholder="Enter your username"/>
    <input id="room" placeholder="Enter room name"/>
    <button onclick="joinRoom()">Join Room</button>
</div>
<div id="status"></div>
<div id="game-container">
    <div id="game">
        <div id="playedcards-container">
        </div>
        <div id="tablecards-container">
        </div>
        <div id="hand"></div>
    </div>
    <script>
        const socket = io();

        function joinRoom() {
            const username = document.getElementById('username').value;
            const room = document.getElementById('room').value;
            socket.emit('join', {username, room});
        }

        function updateHandCards(data) {
            const handDiv = document.getElementById('hand');
            handDiv.innerHTML = '';

            const overlap = 70; // Define overlap amount
            const cardWidth = 100; // Define card width
            const cardsCount = data.length; // Number of cards

            // Calculate the total width required to display all cards with overlap
            const totalWidth = cardWidth + (cardsCount - 1) * overlap;
            const start = -totalWidth / 2 + cardWidth / 2

            // Set container width to accommodate all cards
            handDiv.style.width = `${totalWidth}px`;

            data.forEach((card, index) => {
                const cardElement = document.createElement('img');
                cardElement.src = `${card['path']}`;
                cardElement.alt = card;
                cardElement.classList.add('card-hand', 'cardshape');  // Add the card class
                if (card['is_playable']) {
                    cardElement.classList.add('playable');
                } else {
                    cardElement.classList.add('not-playable');
                }
                handDiv.appendChild(cardElement);

                const offset = start + index * overlap; // Calculate the offset for each card
                cardElement.style.setProperty('--card-offset', `${offset}px`);
            });
        }

        function updateTableCards(data) {
            const cardStacksContainer = document.getElementById('tablecards-container');
            cardStacksContainer.innerHTML = '';  // Clear previous sets

            data.forEach((stack, index) => {
                // Create the stack container
                const cardStackDiv = document.createElement('div');
                cardStackDiv.classList.add('stackofcards');
                cardStackDiv.id = `set-${index + 1}`;

                // Create the hand container
                const stackDiv = document.createElement('div');
                stackDiv.classList.add('stack');
                stackDiv.id = `stack-${index + 1}`;
                cardStackDiv.appendChild(stackDiv);

                {#const cardCount = stack.cards.length;#}
                const overlapOffset = 2;  // Adjust this value for how much each card should overlap

                // Add cards to the hand container
                stack.cards.forEach((card, i) => {
                    const cardElement = document.createElement('img');
                    cardElement.src = `${card['path']}`;
                    cardElement.alt = card; // Assuming the card object has a 'name' property
                    cardElement.classList.add('card-stack', 'cardshape');
                    if (card['is_playable']) {
                        cardElement.classList.add('playable');
                    } else {
                        cardElement.classList.add('not-playable');
                    }
                    stackDiv.appendChild(cardElement);

                    const offset = i * overlapOffset; // Calculate the offset for each card
                    cardElement.style.setProperty('--card-offset', `${offset}px`);
                    // Calculate the position for this card
                });

                // Append the card set to the container
                cardStacksContainer.appendChild(cardStackDiv);
            });
        }

        function gameSetup(data) {
            updateHandCards(data.hand.cards);
            updateTableCards(data.cards_on_table);
        }

        socket.on('status', (data) => {
            document.getElementById('status').innerHTML = data.msg;
        });

        socket.on('game-setup', (data) => {
            gameSetup(data.player);
        });


        {#socket.on('playcard1', (data) => {#}
        {#    const playcardContainer = document.getElementById('playedcards-container');#}
        {#    const playedcard = document.getElementById('player1-card');#}
        {##}
        {#    cardStacksContainer.appendChild(cardStackDiv);#}
        {##}
        {#    <div class="playedcard-placeholder" id="player1-card"></div>#}
        {#    <div class="playedcard-placeholder" id="player2-card"></div>#}
        {# })#}


        socket.on('update', (data) => {
            // Update the game state based on the move
            console.log(data.move);
        });
    </script>
</body>
</html>
